<!-- Homepage Slider -->
<div class="homepage-slider" >
<div class="fundmebio">
<h1> FundMe PC </h1>
<br>
<p> Making sure every child has a computer to <br> <br>learn, grow and succeed </p>
<br>

<div>
  <a href="page-products-3-columns.html"> <img src = "/assets/homepage-slider/donate.png"> </a>
  <a href="#"> <img src = "/assets/homepage-slider/request.png "> </a>
</div>
</div>

<img src="/assets/homepage-slider/fundmePC2.png" style="width:100%;">


</div>
<!-- End Homepage Slider -->

<!-- Press Coverage -->
<div class="section">
<div class="container">
<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="in-press press-wired">
      <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="in-press press-mashable">
      <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="in-press press-techcrunch">
      <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
    </div>
  </div>
</div>
</div>
</div>
<!-- Press Coverage -->

<!-- Services -->
<!-- <div class="section">
<div class="container">
<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="service-wrapper">
      <img src="/assets/service-icon/diamond.png" alt="Service 1">
      <h3>Aliquam in adipiscing</h3>
      <p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
      <a href="#" class="btn">Read more</a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="service-wrapper">
      <img src="/assets/service-icon/ruler.png" alt="Service 2">
      <h3>Curabitur mollis</h3>
      <p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
      <a href="#" class="btn">Read more</a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="service-wrapper">
      <img src="/assets/service-icon/box.png" alt="Service 3">
      <h3>Vivamus mattis</h3>
      <p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
      <a href="#" class="btn">Read more</a>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Services -->

<!-- Call to Action Bar -->
<div class="section section-white">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="calltoaction-wrapper">
      <h3> 2 out of 5 low income household do not have computers</h3> <a href="http://www.dragdropsite.com" class="btn btn-orange">Donate here!</a>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Call to Action Bar -->

<!-- Testimonials -->
<!--<div class="section">
<div class="container">
<h2>Testimonials</h2>
<div class="row">


<!-- Pricing Table -->
<div class="section">
<div class="container">
<h2> Students Who Need Computers </h2>

<div class="row">
  <div class="col-sm-4">
    <div class="shop-item" style="height:180px">
      <div style="width: 100%; overflow: hidden;">
        <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
        <div style="margin-left: 170px;">
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          <span style="font-size: 1.5em; color: green"><br><strong>78% Funded</strong></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="shop-item" style="height:180px">
      <div style="width: 100%; overflow: hidden;">
        <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
        <div style="margin-left: 170px;">
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          <span style="font-size: 1.5em; color: green"><br><strong>84% Funded</strong></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="shop-item" style="height:180px">
      <div style="width: 100%; overflow: hidden;">
        <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
        <div style="margin-left: 170px;">
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          Lorem ipsum dolor sit amet<br>
          <span style="font-size: 1.5em; color: blue"><br><strong>26% Funded<br>(Hurry)</strong></span>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: green"><br><strong>78% Funded</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: green"><br><strong>78% Funded</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: blue"><br><strong>38% Funded<br>(5 days left)</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: green"><br><strong>78% Funded</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: green"><br><strong>78% Funded</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="shop-item" style="height:180px">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 160px; float: left;"> <img src="/assets/product1.jpg" style="height:150px;width:150px"> </div>
          <div style="margin-left: 170px;">
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            Lorem ipsum dolor sit amet<br>
            <span style="font-size: 1.5em; color: red"><br><strong>16% Funded<br>(2 days left)</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<!-- End Pricing Table -->
